{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h2 class="text-center mb-4" >Componentes
    <a href=" {% url 'componente-add' %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
    </h2>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Componentes</th>
                    <th scope="col">Gluten</th>
                    <th scope="col">Hevos</th>
                    <th scope="col">Lacteos</th>
                    <th scope="col">Cacahuetes</th>
                    <th scope="col">frutos_secos</th>
                    <th scope="col">Soja</th>
                    <th scope="col">Crustaceos</th>
                    <th scope="col">Pescado</th>
                    <th scope="col">Moluscos</th>
                    <th scope="col">Altramuces</th>
                    <th scope="col">Sesamo</th>
                    <th scope="col">Mostaza</th>
                    <th scope="col">Sulfitos</th>
                    <th scope="col">Apio</th>
                </tr>
            </thead>
            <tbody>
                {% for componente in object_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'componente-detail' componente.id %}">{{ componente.nombre }}</a></th>
                        <th class="text-center">{{ componente.Gluten }}</th>
                        <th class="text-center">{{ componente.Huevos }}</th>
                        <th class="text-center">{{ componente.Lacteos }}</th>
                        <th class="text-center">{{ componente.Cacahuetes }}</th>
                        <th class="text-center">{{ componente.Frutos_secos }}</th>
                        <th class="text-center">{{ componente.Soja }}</th>
                        <th class="text-center">{{ componente.Crustaceos }}</th>
                        <th class="text-center">{{ componente.Pescado }}</th>
                        <th class="text-center">{{ componente.Moluscos }}</th>
                        <th class="text-center">{{ componente.Altramuces }}</th>
                        <th class="text-center">{{ componente.Sesamo }}</th>
                        <th class="text-center">{{ componente.Mostaza }}</th>
                        <th class="text-center">{{ componente.Sulfitos }}</th>
                        <th class="text-center">{{ componente.Apio }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}