{% extends "base.html" %}
{% block content %}
    {% if object.reserva.user == user or user.is_staff %}
        {% if not entregado %}
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm">
            </form>
        {% else %}
            <p>ya se ha finalaizo esta entrega</p>
        {% endif %}
    {% else %}
        <p>Usted no es el propietario</p>
    {% endif %}
{% endblock %}