{% extends "base.html" %}

{% block content %}
    <h2>Producto <a href=" {% url 'producto-add' %} ">AÑADIR</a></h2>
    <ul>
        {% for Producto in object_list %}
            <li> <a href=" {% url 'producto-detail' Producto.id %} ">{{ Producto.nombre }}</a>
                <img src="/media/{{ Producto.imagen }}" alt="imagen producto">
                <a href=" {% url 'producto-update' Producto.id %} ">EDID</a>
                <a href=" {% url 'producto-delete' Producto.id %} ">BORRAR</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}