{% extends "base.html" %}

{% block content %}
    <h2>
        Producto
        <a href=" {% url 'aleproducto-update' object.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
        <a href=" {% url 'aleproducto-delete' object.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
    </h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Gluten</th>
                <th scope="col">Hevos</th>
                <th scope="col">Lacteos</th>
                <th scope="col">Cacahuetes</th>
                <th scope="col">frutos_secos</th>
                <th scope="col">Soja</th>
                <th scope="col">Crustaceos</th>
                <th scope="col">Pescado</th>
                <th scope="col">Moluscos</th>
                <th scope="col">Altramuces</th>
                <th scope="col">Sesamo</th>
                <th scope="col">Mostaza</th>
                <th scope="col">Sulfitos</th>
                <th scope="col">Apio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ object.nombre }}</th>
                <th class="text-center">{{ detaGluten }}</th>
                <th class="text-center">{{ detaHuevos }}</th>
                <th class="text-center">{{ detaLacteos }}</th>
                <th class="text-center">{{ detaCacahuetes }}</th>
                <th class="text-center">{{ detaFrutos_secos }}</th>
                <th class="text-center">{{ detaSoja }}</th>
                <th class="text-center">{{ detaCrustaceos }}</th>
                <th class="text-center">{{ detaPescado }}</th>
                <th class="text-center">{{ detaMoluscos }}</th>
                <th class="text-center">{{ detaAltramuces }}</th>
                <th class="text-center">{{ detaSesamo }}</th>
                <th class="text-center">{{ detaMostaza }}</th>
                <th class="text-center">{{ detaSulfitos }}</th>
                <th class="text-center">{{ detaApio }}</th>
            </tr>
        </tbody>
    </table>
    <h2> Componentes</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Componentes</th>
                <th scope="col">Gluten</th>
                <th scope="col">Huevos</th>
                <th scope="col">Lacteos</th>
                <th scope="col">Cacahuetes</th>
                <th scope="col">frutos_secos</th>
                <th scope="col">Soja</th>
                <th scope="col">Crustaceos</th>
                <th scope="col">Pescado</th>
                <th scope="col">Moluscos</th>
                <th scope="col">Altramuces</th>
                <th scope="col">Sesamo</th>
                <th scope="col">Mostaza</th>
                <th scope="col">Sulfitos</th>
                <th scope="col">Apio</th>
            </tr>
        </thead>
        <tbody>
            {% for componente in object.componente.all %}
                {% for componentelist in componentes %}
                    {% if componente == componentelist %}
                        <tr>
                            <th scope="row"><a href="{% url 'componente-detail' componente.id %}">{{ componente.nombre }}</a></th>
                            <th class="text-center">{{ componentelist.Gluten }}</th>
                            <th class="text-center">{{ componentelist.Huevos }}</th>
                            <th class="text-center">{{ componentelist.Lacteos }}</th>
                            <th class="text-center">{{ componentelist.Cacahuetes }}</th>
                            <th class="text-center">{{ componentelist.frutos_secos }}</th>
                            <th class="text-center">{{ componentelist.Soja }}</th>
                            <th class="text-center">{{ componentelist.Crustaceos }}</th>
                            <th class="text-center">{{ componentelist.Pescado }}</th>
                            <th class="text-center">{{ componentelist.Moluscos }}</th>
                            <th class="text-center">{{ componentelist.Altramuces }}</th>
                            <th class="text-center">{{ componentelist.Sesamo }}</th>
                            <th class="text-center">{{ componentelist.Mostaza }}</th>
                            <th class="text-center">{{ componentelist.Sulfitos }}</th>
                            <th class="text-center">{{ componentelist.Apio }}</th>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
    </tbody>
    </table>
    <h2> Ingredientes</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Ingrediente</th>
                <th scope="col">Gluten</th>
                <th scope="col">Huevos</th>
                <th scope="col">Lacteos</th>
                <th scope="col">Cacahuetes</th>
                <th scope="col">frutos_secos</th>
                <th scope="col">Soja</th>
                <th scope="col">Crustaceos</th>
                <th scope="col">Pescado</th>
                <th scope="col">Moluscos</th>
                <th scope="col">Altramuces</th>
                <th scope="col">Sesamo</th>
                <th scope="col">Mostaza</th>
                <th scope="col">Sulfitos</th>
                <th scope="col">Apio</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in object.ingrediente.all %}
                <tr>
                    <th scope="row"><a href="{% url 'ingrediente-detail' ingrediente.id %}">{{ ingrediente.nombre }}</a></th>
                        {% if Gluten in ingrediente.alergenos.all %}         <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Huevos in ingrediente.alergenos.all %}          <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Lacteos in ingrediente.alergenos.all %}        <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Cacahuetes in ingrediente.alergenos.all %}     <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if frutos_secos in ingrediente.alergenos.all %}   <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Soja in ingrediente.alergenos.all %}           <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Crustaceos in ingrediente.alergenos.all %}     <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Pescado in ingrediente.alergenos.all %}        <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Moluscos in ingrediente.alergenos.all %}       <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Altramuces in ingrediente.alergenos.all %}     <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Sesamo in ingrediente.alergenos.all %}         <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Mostaza in ingrediente.alergenos.all %}        <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Sulfitos in ingrediente.alergenos.all %}       <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                        {% if Apio in ingrediente.alergenos.all %}           <th class="text-center">X</th>{% else %}<td></td>{% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}