{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/media/css/producto.css">
{% endblock %}
{% block content %}
    <h1 class="text-center mb-4">Producto</h1>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading mb-4 text-center">{{ object.nombre }}</h2>
        <p><b>Precio:</b> {{ object.precio }}€</p>
          {% if object.oferta %}
              <p><b>Oferta:</b> {{ object.oferta }}€</p> 
          {% endif %}
          <p><b>ingredientes:</b>
              {% for ingre in object.ingrediente.all %}
                  {{ ingre.nombre }}, 
              {% endfor %}
          </p>
          <p><b>Puntuacion</b>
              {{ object.media }}/5
              <a href=" {% url 'valoracion-add' object.id  %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
          </p>
          {% with p=0 %}
          {% for valo in object.valoracion_set.all %}
            {% if valo.user == user %}
              <p> <b>Tu valoracion</b>
                {{ valo.puntuacion }}
                <a href=" {% url 'valoracion-update' valo.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                <a href=" {% url 'valoracion-delete' valo.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
              </p>
            {% endif %}
          {% endfor %}
          <p>{{ p }}</p>
          {% endwith %}
          
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/media/{{ object.imagen }}" alt="imagen del producto" data-holder-rendered="true">
      </div>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h6 class="border-bottom pb-2 mb-0">Comentarios
        {% if user.is_authenticated %}
        <a href=" {% url 'comentario-add' object.id  %} "><button type="button" class="btn btn-sm btn-outline-primary">AÑADIR</button></a>
        {% endif %}
      </h6>
      {% for come in object.comentario_set.all %}
      <div class="d-flex text-muted pt-3">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
          <strong class="d-block text-gray-dark">@{{ come.user }}</strong>
          {{ come.texto }}
        </p>
        {% if user == come.user or user.is_staff %}
        <p class="pt-3 mb-0 small lh-sm border-bottom">
          <a href=" {% url 'comentario-update' come.id %} "><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
          <a href=" {% url 'comentario-delete' come.id %} "><button type="button" class="btn btn-sm btn-outline-danger">Delete</button></a>
        </p>
        {% endif %}
      </div>
      {% endfor %}
    </div>

{% endblock %}