{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/media/css/producto.css">
{% endblock %}
{% block content %}
    <h2>Producto</h2>
    <p> {{ object.nombre }} </p>
    <p>Precio: {{ object.precio }}€</p>
    <p>Oferta: {{ object.oferta }}€</p> 
    <p> <img src="/media/{{ object.imagen }}" alt="imagen del producto"></p>
    <p>ingredientes:
        {% for ingre in object.ingrediente.all %}
            {{ ingre.nombre }},
        {% endfor %}
    </p>
{% endblock %}