{% extends "base.html" %}

{% block content %}
    <h2>Valoraciones
        {% if user.is_authenticated %} 
        <a href=" {% url 'valoracion-add' %} ">AÑADIR</a>
        {% endif %}
    </h2>
    
    <ul>
        {% for valoracion in object_list %}
            <li><a href=" {% url 'valoracion-detail' valoracion.pk %} ">{{ valoracion.valoproduc }}</a>
                <a href=" {% url 'valoracion-update' valoracion.pk %} ">EDID</a>
                <a href=" {% url 'valoracion-delete' valoracion.pk %} ">BORRAR</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}