{% load cookielaw_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>La guinda</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/media/css/base.css">
        <link rel="icon" type="image/x-icon" href="/media/img/logo.png">
        {% block head %}{% endblock %}
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/"><img style="width: 50px; height: 50px;" src="/media/img/logo.png" /></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'reserva-list' %}">Reservas</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'sobre-nosotros' %}">Sobre nosotros</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'pendiente-list' %}">Reseva Pendiente</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'ingrediente-list' %}">Ingredientes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'componente-list' %}">Componentes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'aleproducto-list' %}">Alerjenos Producto</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline mt-2 mt-md-0" action="{% url 'search_producto' %}" method="get">
                    <input type="search" name="q" placeholder="buscar producto" class="form-control form-control mr-sm-2" />
                </form>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="" >{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a> 
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <header style="background-color: darkgrey;" class="py-4">
            {% cookielaw_banner %}
        </header>
        <div class="container py-5">
            {% block content %}{% endblock %}
        </div>
        <main>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="/media/js/bootstrap.min.js"></script>
            <script src="/static/cookielaw/js/cookielaw.js"></script>
        </main>
    </body>
</html>